@charset "UTF-8";
body {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  min-height: 100vh; /* Ensures full height */
  margin: 0;
  padding: 10px;
  background-color: #f9f9f95f;
}


#receptionist-attendance {
  background-color: rgba(221, 222, 223, 0.416);
  border-radius: 8px;
  padding: 24px;
  max-width: 600px;
  margin: auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#receptionist-attendance h2 {
  font-weight: 600;
  color: #1a202c;
  font-size: 18px;
}

.container {
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  max-width: 880px; /* Total width including sidebar */
  width: 100%;
  gap: 20px; /* Space between elements */
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #477ac6;
  border-radius: 6px;
  overflow: hidden;
  font-size: 14px;
  color: #182946;
  text-align: left;
  margin-top: 5px;
}
body {
 display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  min-height: 100vh; /* Ensures full height */
  margin: 0;

  background-color: #f9f9f95f;
}

.container {
  max-width: 880px;
  width: 100%;
  margin: auto; /* Centers the block */
}


#receptionist-attendance {
  background-color: rgba(221, 222, 223, 0.416);
  border-radius: 8px;
  padding: 24px;
  max-width: 600px;
  margin: auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 5px;
}
thead {
  background-color: #a3c2d7;
}

th, td {
  padding: 8px 12px;
  border-bottom: 1px solid #afc5e7;
}

td {
  font-size: 14px;
}
